name: Metrics

on:
  schedule:
    - cron: "0 0 * * *"  # daily at midnight
  workflow_dispatch:
  push:
    branches: ["main", "master"]

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      # Step 1: Full metrics (stats)
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: github-metrics.svg
          base: header, activity, repositories, streaks, trophies
          plugin_languages: yes

      # Step 2: ISO Calendar only
      - uses: lowlighter/metrics@latest
        with:
         token: ${{ secrets.METRICS_TOKEN }}
         filename: metrics.plugin.isocalendar.svg
         base: ""                     # remove any base like header
         plugin_isocalendar: yes

